Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import OrdinalEncoder
import tensorflow as tf
from tensorflow.keras import layers

### Import Data

In [2]:
df = pd.read_csv('bodyPerformance.csv')

In [3]:
df.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  float64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

In [5]:
df.describe()

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
count,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000
mean,36.775106,168.559807,67.447316,23.240165,78.796842,130.234817,36.963877,15.209268,39.771224,190.129627
std,13.625639,8.426583,11.949666,7.256844,10.742033,14.713954,10.624864,8.456677,14.276698,39.868000
min,21.000000,125.000000,26.300000,3.000000,0.000000,0.000000,0.000000,-25.000000,0.000000,0.000000
25%,25.000000,162.400000,58.200000,18.000000,71.000000,120.000000,27.500000,10.900000,30.000000,162.000000
50%,32.000000,169.200000,67.400000,22.800000,79.000000,130.000000,37.900000,16.200000,41.000000,193.000000
75%,48.000000,174.800000,75.300000,28.000000,86.000000,141.000000,45.200000,20.700000,50.000000,221.000000
max,64.000000,193.800000,138.100000,78.400000,156.200000,201.000000,70.500000,213.000000,80.000000,303.000000

In [6]:
class_names = ['1', '2', '3', '4']

In [7]:
enc = OrdinalEncoder()
temp = enc.fit_transform(df)
temp = pd.DataFrame(temp)

In [8]:
features = temp.copy()
labels = features[features.columns[:-1]]

In [9]:
features.head()

     0    1      2      3      4     5     6      7      8     9      10   11
0   6.0  1.0  280.0  911.0  208.0  47.0  49.0  441.0  358.0  62.0  167.0  2.0
1   4.0  1.0  207.0  292.0  124.0  44.0  45.0  254.0  335.0  55.0  179.0  0.0
2  10.0  1.0  353.0  985.0  188.0  59.0  71.0  338.0  288.0  51.0  131.0  2.0
3  11.0  1.0  302.0  772.0  165.0  43.0  66.0  304.0  323.0  55.0  169.0  1.0
4   7.0  1.0  295.0  660.0  142.0  36.0  46.0  325.0  449.0  47.0  167.0  1.0

In [10]:
labels.head()

     0    1      2      3      4     5     6      7      8     9      10
0   6.0  1.0  280.0  911.0  208.0  47.0  49.0  441.0  358.0  62.0  167.0
1   4.0  1.0  207.0  292.0  124.0  44.0  45.0  254.0  335.0  55.0  179.0
2  10.0  1.0  353.0  985.0  188.0  59.0  71.0  338.0  288.0  51.0  131.0
3  11.0  1.0  302.0  772.0  165.0  43.0  66.0  304.0  323.0  55.0  169.0
4   7.0  1.0  295.0  660.0  142.0  36.0  46.0  325.0  449.0  47.0  167.0

In [11]:
features_arr = np.array(features)
features_arr

array([[  6.,   1., 280., ...,  62., 167.,   2.],
       [  4.,   1., 207., ...,  55., 179.,   0.],
       [ 10.,   1., 353., ...,  51., 131.,   2.],
       ...,
       [ 18.,   1., 329., ...,  47., 179.,   0.],
       [ 43.,   0.,  23., ...,   0.,  26.,   3.],
       [ 13.,   1., 197., ...,  53., 130.,   2.]])

In [12]:
model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(11)
])

model.compile(loss = tf.keras.losses.MeanSquaredError(), 
              optimizer = tf.optimizers.Adam(), 
              metrics=['accuracy'])

In [13]:
features_arr = np.asarray(features_arr).astype(np.float32)

In [15]:
model.fit(features_arr, labels, epochs=15)

Epoch 1/15
419/419 [==============================] - 2s 4ms/step - loss: 0.4190 - accuracy: 0.9994
Epoch 2/15
419/419 [==============================] - 2s 4ms/step - loss: 0.1854 - accuracy: 0.9996
Epoch 3/15
419/419 [==============================] - 2s 4ms/step - loss: 0.0790 - accuracy: 0.9996
Epoch 4/15
419/419 [==============================] - 2s 4ms/step - loss: 0.0365 - accuracy: 0.9997
Epoch 5/15
419/419 [==============================] - 2s 4ms/step - loss: 0.0204 - accuracy: 0.9994
Epoch 6/15
419/419 [==============================] - 2s 4ms/step - loss: 0.0151 - accuracy: 0.9995
Epoch 7/15
419/419 [==============================] - 2s 4ms/step - loss: 0.0259 - accuracy: 0.9994
Epoch 8/15
419/419 [==============================] - 2s 4ms/step - loss: 0.0733 - accuracy: 0.9996
Epoch 9/15
419/419 [==============================] - 2s 4ms/step - loss: 0.1148 - accuracy: 0.9996
Epoch 10/15
419/419 [==============================] - 2s 4ms/step - loss: 0.4450 - accuracy: 0.9994
Epoch 11/15
419/419 [==============================] - 1s 2ms/step - loss: 0.0098 - accuracy: 0.9996
Epoch 12/15
419/419 [==============================] - 1s 2ms/step - loss: 0.2932 - accuracy: 0.9995
Epoch 13/15
419/419 [==============================] - 1s 2ms/step - loss: 0.0143 - accuracy: 0.9996
Epoch 14/15
419/419 [==============================] - 1s 2ms/step - loss: 0.4295 - accuracy: 0.9993
Epoch 15/15
419/419 [==============================] - 1s 2ms/step - loss: 0.1407 - accuracy: 0.9995

In [16]:
normalize = layers.Normalization()

In [17]:
normalize.adapt(features_arr)

In [18]:
norm_abalone_model = tf.keras.Sequential([
  normalize,
  layers.Dense(64),
  layers.Dense(11)
])

norm_abalone_model.compile(loss = tf.losses.MeanSquaredError(),
                           optimizer = tf.optimizers.Adam(),
                           metrics=['accuracy'])

norm_abalone_model.fit(features_arr, labels, epochs=15)

Epoch 1/15
419/419 [==============================] - 1s 2ms/step - loss: 75763.5156 - accuracy: 0.5463
Epoch 2/15
419/419 [==============================] - 1s 2ms/step - loss: 60611.1016 - accuracy: 0.6538
Epoch 3/15
419/419 [==============================] - 1s 2ms/step - loss: 41741.8008 - accuracy: 0.6922
Epoch 4/15
419/419 [==============================] - 1s 2ms/step - loss: 24009.3086 - accuracy: 0.7546
Epoch 5/15
419/419 [==============================] - 1s 2ms/step - loss: 12417.2949 - accuracy: 0.8054
Epoch 6/15
419/419 [==============================] - 1s 2ms/step - loss: 6227.6138 - accuracy: 0.8428
Epoch 7/15
419/419 [==============================] - 1s 2ms/step - loss: 3055.3992 - accuracy: 0.8723
Epoch 8/15
419/419 [==============================] - 1s 2ms/step - loss: 1592.0093 - accuracy: 0.8999
Epoch 9/15
419/419 [==============================] - 1s 2ms/step - loss: 1029.9160 - accuracy: 0.9244
Epoch 10/15
419/419 [==============================] - 1s 2ms/step - loss: 822.0518 - accuracy: 0.9378
Epoch 11/15
419/419 [==============================] - 1s 2ms/step - loss: 712.1688 - accuracy: 0.9444
Epoch 12/15
419/419 [==============================] - 1s 2ms/step - loss: 626.1527 - accuracy: 0.9504
Epoch 13/15
419/419 [==============================] - 1s 2ms/step - loss: 549.0670 - accuracy: 0.9544
Epoch 14/15
419/419 [==============================] - 1s 2ms/step - loss: 474.8977 - accuracy: 0.9599
Epoch 15/15
419/419 [==============================] - 1s 2ms/step - loss: 398.5878 - accuracy: 0.9638

Its a better accuracy now